/* Default Style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-style: italic;
    margin-top: 10px;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

span {
    color: #4A0D66;
}
/*Nav Bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: 90%;
}

/* Header consists of the logo, main page, search bar */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
    font-size: 18;
}
.logo {
    margin-right: auto;
}
.logo img {
    width: 400px;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mainpage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.search p {
    margin-right: 6px;
}
.mainpage, .search {
    border-radius: 1000px;
    padding-right: 30px;
    padding-left: 30px;
    height: 35px;
    border: solid #4A0D66 5px;

}
.mainpage, .search p {
    color: #4A0D66;
}


/* Menu */
a {
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}
a:hover {
    color: #BB6BD9;
}

.menubar {
    background-color: #4A0D66;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20;
    font-weight: bold;
    height: 65px;
    width: 90%;
}
.menuitem {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#donate {
    background-color: #BB6BD9;
    border-radius: 100px;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

#button {
    background-color: #3E1149;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 30%;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    transition: transform .2s;
    color: white;
}

#button:hover {
    transform: scale(1.15);
    color: white;
}

/*Starting Image*/
.firstImg {
    background-image: url(kimImages/joinUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

/*Give Section with Donate and Volunteer sections*/
.Give {
    height: 700px;
    width: 100%;
    background-color: #A685A8;
}

.subImg {
    display: inline-block;
    background-size: contain;
    height: 100px;
    width: 100px;;
    margin: 50px;
}

.Title {
    vertical-align: top;
    display: inline-block;
    height: 10%;
    width: 11%;
    margin-top: 65px;
}

.filler {
    display: inline-block;
    height: 200px;
    width: 70%;
    vertical-align: top;
}

.giveSub {
    display: inline-block;
    height: 70%;
    width: 25%;
    margin-left: 250px;
    margin-right: 25px;
}

.subHeader {
    height: 15%;
    width: 100%;
    display: inline-block;
}

.giveSubHeadImg {
    height: 100%;
    width: 27%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block
}

.subHeadTitle {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

/*The Advocate Section*/
.Advocate {
    height: 750px;
    width: 100%;
    background-color: #3E1149;
}

.advocateImg {
    background-image: url(kimImages/delegation.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60%;
    width: 44%;
    margin-left: 10%;
    display: inline-block;
}

.advocateText {
    display: inline-block;
    vertical-align: top;
    height: 60%;
    width: 25%;
    margin-left: 7%;
}

/*Events Section*/
.Events {
    height: 1000px;
    width: 100%;
    background-color: #A685A8;
}

.eventsSec {
    display: block;
    background-color: #ffffff;
    height: 35%;
    width: 70%;
    margin: 0 auto;
}

.eventsText {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 45%;
    color: #000000;
}

.eventsPhoto {
    height: 80%;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10%;
    margin-top: 3%;
}

/*Partnerships and Sponsors Section*/
.Sponsors {
    width: 100%;
    height: 500px;
    background-color: #3E1149;
}

.sponsorsText {
    width: 70%;
    height: 55%;
    margin: 0 auto;
}

/*Div for break in between Sponsors and Footer*/
.space {
    width: 100%;
    height: 50px;
    background-color: #A685A8;
}

/* Footer */
.footer {
    background-color: #3E1149;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    margin-top: 2%;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.ftitle {
    font-weight: bold;
    font-size: 18;
    margin-bottom: 5%;
}
.flist ul {
    margin: 0;
    padding: 0;
    font-size: 14;
}
.flist li {
    list-style: none;
    margin-bottom: 4%;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    font-size: 18;
}
.social_media img {
    width: 30px;
    height: 30px;
    margin-right: 10%;
}
.social_media {
    margin-right: 3%;
    display: flex;
    align-items: center;
}


